*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
figcaption,
.offset{
    position: absolute;
    left: -100000px;
}
button{
    font-family: inherit;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
