@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

$Dark-Blue : hsl(240, 38%, 20%);
$Grayish-Blue:hsl(240, 18%, 77%);
$White : #ffff;
$Black: #0000;
$FF:'Inter', sans-serif;
$FW-LIGHT : 300;
$FW-BOLD : 500;
$FW-BOLDER: 700;